<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lwb.mapper.StudentMapper">

 <select id="getAll" resultType="com.lwb.entity.Student" >
     select * from student
 </select>

    <select id="findById" resultType="com.lwb.entity.Student" parameterType="String">
        select * from student where id = #{id}
    </select>

    <insert id="addStudent" parameterType="com.lwb.entity.Student" >
        insert into student values (
        #{id},
        #{name},
        #{age},
        #{sex},
        #{address},
        #{jeescore}
        )
    </insert>

    <delete id="delStudent" parameterType="String">
        delete from student where id = #{id}
    </delete>

</mapper>